- title @user

= form_for(@user, :method => :put) do |f|
  = error_explanation @user

  %fieldset
    = f.label       :email
    = f.email_field :email
    %p
      Optional but required for password recovery and
      = link_to_gravatar + '.'

    = f.label          :password
    = f.password_field :password, :autocomplete => 'off'
    %p Should have at least six characters.

    = f.label          :password_confirmation
    = f.password_field :password_confirmation

  %fieldset
    = f.label  :kind, 'Account type'
    = f.select :kind, options_for_select(user_types, @user.kind)
    %p.multiline
      %strong Competitive
      \- yours ratings will be displayed and you will appear on standings page,
      %br/
      %strong Casual
      \- ratings will be hidden and you won't appear on standings page.

    = f.label  :country
    = f.select :country, Country.reverse, :include_blank => true

    = f.label            :time_zone
    = f.time_zone_select :time_zone, nil, :include_blank => true

  %fieldset
    = f.submit 'Update'
