- title @user

%article
  = gravatar_image @user, 200

  %div
    %h1
      = @user.visible_rating
      = interval @user if @user.competitive?

    - if @user.competitive?
      %ul
        %li
          μ:
          %strong= "%.4f" % glicko2(@user).first
        %li
          φ:
          %strong= "%.4f" % glicko2(@user).second
        %li
          σ:
          %strong= "%.4f" %  @user.volatility
        %li
          = link_to 'Glicko/2', 'http://www.glicko.net/glicko.html'
          Documentation

    %ul
      - if @user.country?
        %li
          Country:
          %strong
            = Country.find @user.country
            = country_flag @user

      - if @user.time_zone?
        %li
          Timezone:
          %strong= @user.time_zone
        %li
          Local Time:
          %strong= @user.local_time(Time.now).to_s :long_ordinal

%section.options
  = link_to_user_games @user

  - if can? :manage, @user
    = link_to 'Edit Profile', edit_user_path

  - if current_user.try :admin?
    = link_to_admin_panel admin_user_path(@user)

- if @user == current_user && @user.notifications
  %section.notifications
    %ul
      - for n in @user.notifications do
        %li= format_notification n

- unless @user.games.ranked.empty?
  %section
    #chart
