- title 'Change Password'

= devise_form(password_path(resource_name), :method => :put) do |f|
  = devise_error_messages!

  = f.hidden_field :reset_password_token

  %fieldset
    = f.label          :password, 'New password'
    = f.password_field :password

    = f.label          :password_confirmation, 'Confirm new password'
    = f.password_field :password_confirmation

  %fieldset
    = f.submit 'Change Password'

= render 'devise/shared/links'
