- title @news

%article.content
  = textile @news.body

  %ul.info
    %li= ago_in_words 'Created', @news.created_at
    %li= pluralize @news.comments.size, 'comments'
    %li= link_to 'Back', news_index_path

- if user_signed_in? or current_user.try :admin?
  .options
    = link_to 'Admin Actions', admin_news_path(@news), :class => 'admin'
    - unless @news.issue
      = link_to 'Request Support', news_issue_path(@news), :method => :post, :confirm => 'Do you need admin support here?'

- if @news.comments.any?
  %section.discussion
    = render @news.comments

= render 'comments/form'